.github/ @Foundation-19/maintainer-team
.azure-pipelines.yml @Foundation-19/maintainer-team
Dockerfile @Foundation-19/maintainer-team
flyway.conf @Foundation-19/maintainer-team
sql/ @Foundation-19/maintainer-team
LICENSE @Foundation-19/maintainer-team

/maps/ @harryob
